@font-face {
	font-family: RF Tone;
	font-display: swap;
	src: url("../fonts/RF Tone Black.woff2") format("woff2"), url("../fonts/RF Tone Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: RF Tone;
	font-display: swap;
	src: url("../fonts/RF Tone Regular.woff2") format("woff2"), url("../fonts/RF Tone Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: RF Tone;
	font-display: swap;
	src: url("../fonts/RF Tone Semibold.woff2") format("woff2"), url("../fonts/RF Tone Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: RF Tone;
	font-display: swap;
	src: url("../fonts/RF Tone Bold.woff2") format("woff2"), url("../fonts/RF Tone Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
